{% extends 'base_view.html.twig' %}

{% block contents %}
    <h2>{{ form_name }}</h2>
    {% for note_unit in note_units %}
        <div class="unitary-date text-center d-flex justify-content-center align-items-center">
            <a class="btn btn-outline-primary btn-sm mx-1" href="#{{ note_unit.preDate }}">
                ＜＜ 
            </a>
            <h3 id="{{ note_unit.date }}">{{ note_unit.dateWithYoubi }}</h3>
            [<a class="btn btn-link btn-sm" href="{{ path('new_unitary',
                {
                    date: note_unit.date
                }) }}">
                書く
            </a><a class="btn btn-link btn-sm" href="{{ path('new_unitary_with_compact',
                {
                    date: note_unit.date
                }) }}">
                書くW
            </a>
            <a class="btn btn-link btn-sm" href="{{ path('app_unitary_date',
                {
                    date: note_unit.date
                }) }}">
                見る
            </a>]
            <a class="btn btn-outline-primary btn-sm mx-1" href="#{{ note_unit.nextDate }}">
                ＞＞
            </a>
        </div>
        {% for note in note_unit.notes %}
            <div class="unitary-title">
                <a class="text-dark" href="{{ path('edit_unitary_with_compact',{ id: note.id }) }}">{{ note.title }}</a>
                {% for tag in note.tags %}
                    <a class="badge bg-primary note-tags" href="{{ path('app_unitary',
                        {
                            tagName: tag.name
                        }) }}">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            </div>
            <div class="unitary-text">
                {{ note.textHtml | raw }}
            </div>
            <div class="unitary-footer">
            </div>
        {% endfor %}
        <div class="btn-bar text-center mt-3 mb-5">
            <a class="btn btn-primary btn-sm" href="#{{ note_unit.preDate }}">
                ＜＜ １日戻る
            </a>
            　
            <a class="btn btn-primary btn-sm" href="#{{ note_unit.nextDate }}">
                １日進む ＞＞
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block style %}
    .unitary-date {
        font-size:1.1rem;
        font-weight:bold;
        margin-bottom:20px;
    }
    .unitary-title {
        font-size:0.9rem;
        font-weight:bold;
        margin-bottom:20px;
    }
    .unitary-text {
        overflow-wrap: break-word;
    }
    .unitary-footer {
        margin-bottom:40px;
        text-align:right;
    }
    .note-tags {
        text-decoration: none;
    }
{% endblock %}
