{% extends 'base_view.html.twig' %}

{% block contents_wide %}
    <h2>{{ form_name }}</h2>
    {% if(thisTag) %}
    <div class="mb-5 p-3">
        <div class="text-dark">＜ {{ thisTag.name }} ＞ <a href="{{ path('edit_note_tags', { id: thisTag.id }) }}">編集</a></div>
        <div class="mt-1">{{ thisTag.description | raw }}</div>
        <div class="mt-1">{{ thisTag.textHtml | raw }}</div>
        <div class="d-flex flex-wrap">
        {% for tag in thisTag.getChildrenTags %}
            <a class="mt-1 p-1" href="{{ path('app_unitary', { tagName: tag.name, mode: 'card' }) }}">{{ tag.name }}</a>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <div>
        <a class="btn btn-outline-warning btn-sm" href="{{ path('app_unitary', { tagName: thisTag.name, mode: '' }) }}">
            << 一覧形式で表示
        </a>
        <a class="btn btn-outline-warning btn-sm" href="{{ path('app_unitary', { tagName: thisTag.name, mode: 'calender' }) }}">
            >> カレンダー形式で表示
        </a>
    </div>
    <div class="note-cards-box">
    {% set no = notes|length %}
    {% for note in notes %}
        <div class="note-card">
            <div class="note-title">
                <a class="btn btn-link btn-sm" href="{{ path('view_unitary',
                    {
                        id: note.id
                    }) }}">
                    #{{ no }}: {{ note.titleWithoutDate }}
                    {% set no = no - 1 %}
                </a>
            </div>
            <div class="note-text">
                {{ note.textHtml | raw }}
            </div>
            <div class="note-footer">
                <a href="{{ path('app_unitary_date',
                    {
                        date: note.dateString
                    }) }}">
                    {{ note.dateString }} ({{ note.dateYoubi }})
                </a>
                {{ note.titleDate }}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block style %}
    .note-title {
        font-size:0.8rem;
        font-weight:bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid #003366;
    }
    .note-tags {
        text-decoration: none;
    }
    .note-cards-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .note-card {
        width: 280px;
        font-size:0.7rem;
        padding: 2px 5px 2px 5px;
        margin: 5px;
        border: solid #003366;
        border-radius: 10px;
        color: #003399;
    }
    .note-text {
        height: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-y: scroll;
        margin: 5px 0 5px 0;
    }
    .note-text img {
        border-radius: 5px;
    }
    .tags-box {
        display: flex;
        flex-wrap: wrap;
    }
    .tags-box a {
        margin-right: 3px;
    }
    .note-footer {
        padding-right: 2px;
        border-top: 1px solid #003366;
        text-align:right;
    }
    @media screen and (max-width: 480px) {
        /* 480px以下に適用されるCSS（スマホ用） */
        .note-card {
            width: 95%;
        }
    }
{% endblock %}
