{% extends 'base_view.html.twig' %}

{% block contents %}
    <h2>{{ form_name }}</h2>
    {% if(thisTag) %}
    <div class="mb-5 p-3">
        <div class="text-dark">＜ {{ thisTag.name }} ＞ <a href="{{ path('edit_note_tags', { id: thisTag.id }) }}">編集</a></div>
        <div class="mt-1">{{ thisTag.description | raw }}</div>
        <div class="mt-1">{{ thisTag.textHtml | raw }}</div>
    </div>
    {% endif %}
    <div>
        <a class="btn btn-outline-warning btn-sm" href="{{ path('app_unitary', { tagName: thisTag.name, mode: 'card' }) }}">
            >> カード形式で表示
        </a>
        <a class="btn btn-outline-warning btn-sm" href="{{ path('app_unitary', { tagName: thisTag.name, mode: 'calender' }) }}">
            >> カレンダー形式で表示
        </a>
    </div>
    {% for note in notes %}
        <hr>
        <div class="unitary-date">
            [　{{ note.dateString }} ({{ note.dateYoubi }})　]
        </div>
        <div class="unitary-title">
            <a class="text-dark" href="{{ path('edit_unitary_with_compact',{ id: note.id }) }}">{{ note.title }}</a>
            {% for tag in note.tags %}
                <a class="badge bg-primary note-tags" href="{{ path('app_unitary',
                    {
                        tagName: tag.name
                    }) }}">
                    {{ tag.name }}
                </a>
            {% endfor %}
        </div>
        <div class="unitary-text">
            {{ note.textHtml | raw }}
        </div>
        <div class="unitary-footer">
            [<a class="btn btn-link btn-sm" href="{{ path('edit_unitary_with_compact',
                {
                    id: note.id
                }) }}">
                編集W
            </a>
            <a class="btn btn-link btn-sm" href="{{ path('view_unitary',
                {
                    id: note.id
                }) }}">
                見る
            </a>]
        </div>
    {% endfor %}
{% endblock %}

{% block style %}
    .unitary-date {
        font-size:0.7rem;
        font-weight:bold;
    }
    .unitary-title {
        font-size:1.1rem;
        font-weight:bold;
        margin-bottom:20px;
    }
    .unitary-text {
        overflow-wrap: break-word;
    }
    .unitary-footer {
        margin-bottom:40px;
        text-align:right;
    }
    .note-tags {
        text-decoration: none;
    }
{% endblock %}
