{% extends 'base_view.html.twig' %}

{% block contents %}
    <h2>{{ form_name }}</h2>
    {% for note_unit in note_units %}
        <div class="unitary-date text-center">
            {{ note_unit.dateWithYoubi }}
            [
            <a class="btn btn-link btn-sm" href="{{ path('new_unitary_with_compact',
                {
                    date: note_unit.date
                }) }}">
                追加W
            </a>
            <a class="btn btn-link btn-sm" href="{{ path('app_unitary_date',
                {
                    date: note_unit.date
                }) }}">
                見る
            </a>
            ]
        </div>
        <hr>
        <div class="unitary-text">
        {% for note in note_unit.notes %}
                ・<a class="note-title" href="{{ path('view_unitary',
                    {
                        id: note.id
                    }) }}">
                    {{ note.title }}
                </a>
                {% for tag in note.tags %}
                    <a class="badge bg-primary note-tags" href="{{ path('app_unitary',
                        {
                            tagName: tag.name
                        }) }}">
                        {{ tag.name }}
                    </a>
                {% endfor %}
                <br/>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block style %}
    .unitary-date {
        font-size:1.1rem;
        font-weight:bold;
        margin-bottom:20px;
    }
    .unitary-title {
        font-size:1.1rem;
        font-weight:bold;
        margin-bottom:20px;
    }
    .unitary-text {
        overflow-wrap: break-word;
        margin-bottom:40px;
    }
    .note-title {
        text-decoration: none;
        color: black;
    }
    .note-tags {
        text-decoration: none;
    }
{% endblock %}
