{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %} {{ form_name }} {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.2/dist/browser-image-compression.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset("assets/unitarynote.js") }}"></script>
    <script src="{{ asset("assets/timeline.js") }}"></script>
{% endblock %}

{% block body %}
    <link href="{{ asset("assets/timeline.css") }}" rel="stylesheet" />

    <h2>{{ form_name }}</h2>
    <div class="row">
        <div id="notes-box" class="col-md-4 mb-4">
            <div id="notes-btn-box" class="mb-4 px-4 d-flex justify-content-end">
                <button id="btn-edit-title" class="btn btn-primary btn-sm mx-1">タイトル</button>
                <button id="btn-show-compact-notes" class="btn btn-outline-primary btn-sm mx-1">コンパクト版</button>
                <button id="btn-show-normal-notes" class="btn btn-outline-primary btn-sm mx-1">通常版</button>
                <button id="btn-show-compact-tag-notes" class="btn btn-outline-primary btn-sm mx-1">タグ版(C)</button>
                <button id="btn-show-normal-tag-notes" class="btn btn-outline-primary btn-sm mx-1">タグ版</button>
                <button id="btn-hidden-notes" class="btn btn-outline-primary btn-sm mx-1">非表示</button>
            </div>
            <div id="note-contents-box" class="px-1">
            </div>
        </div>
        <div class="col-md-8">
            {{ form_start(form) }}
            <div class="d-flex">
                {{ form_row(form.date) }}
                {{ form_row(form.startedAt) }}
                {{ form_row(form.finishedAt) }}
            </div>
            {{ form_row(form.title) }}
            {{ form_row(form.tags) }}
            <div class="d-flex mb-4">
                <input type="file" name="image" id="image-input">
                <input type="checkbox" name="isCompress" id="image-is-compress" checked>
                <label for="isCompress">圧縮して保存</label>
            </div>
            {{ form_row(form.text) }}
            {{ form_row(form.save) }}
        </div>
    </div>
    <script>

    function api_upload_file(file) {
        console.log(file);
        const formData = new FormData();
        formData.append('image', file);
    
        fetch('{{ path('api_upload_files') }}', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.url) {
                    const textarea = document.getElementById('unitary_note_text');
                    textarea.value += `\n<img src="${data.url}" style="width: 100%; max-width: 540px;"/>\n`;
                }
            });
    };

    async function displayCompactNotes(date) {
        const service = new unitaryNoteService();
        const units = await service.getUnits(date, "1day");
        const uNote = new unitaryNote();
        const noteContentsBoxEle = document.getElementById("note-contents-box");
        uNote.displayCompactNotes(noteContentsBoxEle, units["units"]);
    }

    async function displayNormalNotes(date) {
        const service = new unitaryNoteService();
        const units = await service.getUnits(date, "2day");

        const uNote = new unitaryNote();
        const noteContentsBoxEle = document.getElementById("note-contents-box");
        uNote.displayNormalNotes(noteContentsBoxEle, units);
    }

    async function displayCompactNotesByTag(tagName) {
        const service = new unitaryNoteService();
        const result = await service.getUnitsByTagName(tagName);

        const uNote = new unitaryNote();
        const units = result["units"];
        const noteContentsBoxEle = document.getElementById("note-contents-box");
        uNote.displayCompactNotesByTag(noteContentsBoxEle, units);
    }

    async function displayNormalNotesByTag(tagName) {
        const service = new unitaryNoteService();
        const result = await service.getUnitsByTagName(tagName);
        const units = result["units"];
        const uNote = new unitaryNote();
        const noteContentsBoxEle = document.getElementById("note-contents-box");
        uNote.displayNormalNotesByTag(noteContentsBoxEle, units);
    }

    async function clearNotes(height = 0) {
        const noteContentsBoxEle = document.getElementById("note-contents-box");
        noteContentsBoxEle.innerHTML = "";
        noteContentsBoxEle.style.height = height ? height + "px" : "null";
    }

    function settingShortCuts(){
        // フォーカス対象のエレメントを配列で管理
        const focusTargets = [
            document.getElementById("unitary_note_date"),
            document.getElementById("unitary_note_startedAt"),
            document.getElementById("unitary_note_finishedAt"),
            document.getElementById("unitary_note_title"),
            document.getElementById("unitary_note_text"),
            document.getElementById("unitary_note_save")
        ];

        // 現在のインデックス
        let focusIndex = 0;
        focusTargets[focusIndex].focus();

        document.addEventListener('keydown', function (e) {
            // MacのCommand + S も対応
            const isCtrlOrCmd = e.ctrlKey || e.metaKey;

            if (isCtrlOrCmd && e.key.toLowerCase() === 's') {
                e.preventDefault(); // ブラウザ保存ダイアログを無効化

                console.log("Ctrl + S detected!");
                // ここに好きな処理を書く
                document.getElementById("unitary_note_save").click();
            }

            // Ctrl + →
            if (isCtrlOrCmd && e.key === "ArrowRight") {
                e.preventDefault();
                focusIndex = (focusIndex + 1) % focusTargets.length;
                focusTargets[focusIndex].focus();
                if(focusTargets[focusIndex].tagName === "INPUT"){
                    // テキストエリアや入力欄の場合、末尾にカーソルを移動
                    const len = focusTargets[focusIndex].value.length;
                    focusTargets[focusIndex].setSelectionRange(len, len);
                }
            }

            // Ctrl + ←
            if (isCtrlOrCmd && e.key === "ArrowLeft") {
                e.preventDefault();
                focusIndex = (focusIndex - 1 + focusTargets.length) % focusTargets.length;
                focusTargets[focusIndex].focus();
                if(focusTargets[focusIndex].tagName === "INPUT"){
                    // テキストエリアや入力欄の場合、末尾にカーソルを移動
                    const len = focusTargets[focusIndex].value.length;
                    focusTargets[focusIndex].setSelectionRange(len, len);
                }
            }
        });
    }

    function initModeSelect(){
        const thisDateEle = document.getElementById("unitary_note_date");
        document.getElementById("btn-edit-title").onclick = (e) => {
            let path = `{{ path('edit_diary', { date: 'today' }) }}`;
            location.replace(path.replace("today", thisDateEle.value));
            return;
        };
        document.getElementById("btn-show-compact-notes").onclick = (e) => {
            clearNotes();
            displayMode = "compact";
            displayCompactNotes(thisDateEle.value);
        };
        document.getElementById("btn-show-normal-notes").onclick = (e) => {
            clearNotes(750);
            displayMode = "normal";
            displayNormalNotes(thisDateEle.value);
        };
        document.getElementById("btn-show-compact-tag-notes").onclick = (e) => {
            const checkedLabels = Array.from(
                document.querySelectorAll('#unitary_note_tags input[type="checkbox"]:checked')
            ).map(cb => document.querySelector(`label[for="${cb.id}"]`).textContent);
    
            if(!checkedLabels) return;
    
            const tagName = checkedLabels[0];
            clearNotes(750);
            displayMode = "compact";
            displayCompactNotesByTag(tagName);
        };
        document.getElementById("btn-show-normal-tag-notes").onclick = (e) => {
            const checkedLabels = Array.from(
                document.querySelectorAll('#unitary_note_tags input[type="checkbox"]:checked')
            ).map(cb => document.querySelector(`label[for="${cb.id}"]`).textContent);
    
            if(!checkedLabels) return;
    
            const tagName = checkedLabels[0];
            clearNotes(750);
            displayMode = "normal";
            displayNormalNotesByTag(tagName);
        };
        document.getElementById("btn-hidden-notes").onclick = (e) => {
            clearNotes();
            displayMode = "hidden";
        };
    }

    let displayMode = "compact";

    async function onload() {
        settingShortCuts();
        initModeSelect();

        const thisDateEle = document.getElementById("unitary_note_date");
        document.getElementById("unitary_note_date").onchange = (e) => {
            clearNotes();
            if(displayMode === "hidden") return;
            if(displayMode === "compact"){
                displayCompactNotes(thisDateEle.value);
            }
            if(displayMode === "normal"){
                clearNotes(750);
                displayNormalNotes(thisDateEle.value);            
            }
        };

        document.getElementById('image-input').onchange = async (e) => {
            let file = e.target.files[0];
            if (file) {
                if(document.getElementById('image-is-compress').checked){
                    const options = {
                        maxSizeMB: 0.5,
                        useWebWorker: true
                    };
                    const compressedFile = await imageCompression(file, options);

                    const newFileName = `${file.name.replace(/\.[^/.]+$/, "")}_500kb.${file.name.split('.').pop()}`;
                    const blob = compressedFile.slice(0, compressedFile.size, compressedFile.type);
                    file = new File([blob], newFileName, {type: compressedFile.type});
                }
                api_upload_file(file);
            }
        };

        // 画面初期表示
        const checkedLabels = Array.from(
            document.querySelectorAll('#unitary_note_tags input[type="checkbox"]:checked')
        ).map(cb => document.querySelector(`label[for="${cb.id}"]`).textContent);

        if(checkedLabels.length > 0){
            // タグが選択されていたら、タグ一覧表示
            const tagName = checkedLabels[0];
            clearNotes(750);
            displayMode = "normal";
            displayNormalNotesByTag(tagName);
        } else {
            // なしなら、最近の日記を表示
            displayCompactNotes(thisDateEle.value);
        }
    }
    onload()
    </script>
    <style>
        #note-contents-box {
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .unitary-date {
            font-size:1.1rem;
            font-weight:bold;
        }
        .unit-date {
            font-weight: bold;
            margin-bottom: -15px;
        }
        .unit-date-compact {
            font-weight: bold;
        }
        .unitary-title {
            font-size:0.9rem;
            font-weight:bold;
            margin-bottom:5px;
        }
        .unitary-text {
            min-height: 10px;
            overflow-wrap: break-word;
            padding-left: 13px;
        }
        .unitary-footer {
            margin-bottom:30px;
            text-align:right;
        }
        .note-tags {
            text-decoration: none;
        }
        .unitary-title ~ .note-datetime {
            margin-bottom: -5px;
            font-size: 0.7rem;
        }
    </style>
{% endblock %}