{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %} {{ form_name }} {% endblock %}

{% block body %}
    <h2>{{ form_name }}</h2>
    <div class="row">
        <div class="col-md-4 mb-4 px-5">
            {%if note_units|length > 0 %}
                {% for note_unit in note_units %}
                    <div class="unitary-date text-center">
                        {{ note_unit.dateWithYoubi }}
                        [
                        <a class="btn btn-link btn-sm" href="{{ path('new_unitary_with_compact',
                            {
                                date: note_unit.date
                            }) }}">
                            追加W
                        </a>
                        <a class="btn btn-link btn-sm" href="{{ path('app_unitary_date',
                            {
                                date: note_unit.date
                            }) }}">
                            見る
                        </a>
                        ]
                    </div>
                    <hr>
                    <div class="unitary-text mb-5">
                    {% for note in note_unit.notes %}
                            ・<a class="note-title" href="{{ path('edit_unitary_with_compact',
                                {
                                    id: note.id
                                }) }}">
                                {{ note.title }}
                            </a>
                            {% for tag in note.tags %}
                                <a class="badge bg-primary note-tags" href="{{ path('app_unitary',
                                    {
                                        tagName: tag.name
                                    }) }}">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                            <br/>
                    {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <div>データはありません。</div>
            {% endif %}
        </div>
        <div class="col-md-8">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}