{% extends 'base_view.html.twig' %}

{% block contents %}
    <div class="diary-date">
        {{ diary.dateString }} ({{ diary.dateYoubi }})
        <a class="btn btn-primary btn-sm" href="{{ path('edit_diary',
            {
                date: diary.dateString
            }) }}">
            編集
        </a>
        <hr>
    </div>
    <div class="diary-text">
        {{ diary.textHtml | raw }}
    </div>
    <div class="diary-footer">
        <a class="btn btn-primary btn-sm" href="{{ path('edit_diary',
            {
                date: diary.dateString
            }) }}">
            編集
        </a>
    </div>
{% endblock %}

{% block style %}{% endblock %}
