{% extends 'base.html.twig' %}

{% block title %} {{ form_name }} {% endblock %}


{% block body %}
    <h2>{{ form_name }}</h2>
    {% for diary in diaries %}
        <div class="diary-date text-center">
            {{ diary.dateString }} ({{ diary.dateYoubi }})
            <a class="btn btn-primary btn-sm" href="{{ path('edit_diary',
                {
                    date: diary.dateString
                }) }}">
                書く
            </a>
            <a class="btn btn-primary btn-sm" href="{{ path('view_diary',
                {
                    date: diary.dateString
                }) }}">
                見る
            </a>
        </div>
        <div class="diary-text">
            {{ diary.textHtml | raw }}
        </div>
        <div class="diary-footer">
        </div>
    {% endfor %}

    <style>
        .diary-date {
            font-size:1.3rem;
            font-weight:bold;
            margin-top:40px;
        }
        .diary-footer {
            margin-bottom:20px;
        }
    </style>
{% endblock %}
