{% extends 'base_view.html.twig' %}

{% block contents %}
    <h2>{{ form_name }}</h2>
    {% for diary in diaries %}
        <div class="diary-date text-center">
            {{ diary.dateString }} ({{ diary.dateYoubi }})
            <a class="btn btn-primary btn-sm" href="{{ path('edit_diary',
                {
                    date: diary.dateString
                }) }}">
                書く
            </a>
            <a class="btn btn-primary btn-sm" href="{{ path('view_diary',
                {
                    date: diary.dateString
                }) }}">
                見る
            </a>
            <hr>
        </div>
        <div class="diary-text">
            {{ diary.textHtml | raw }}
        </div>
        <div class="diary-footer">
        </div>
    {% endfor %}
{% endblock %}

{% block style %}{% endblock %}
