<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block plugins %}
        {% endblock %}

        <style>
            .blog-header {
                line-height: 1;
                border-bottom: 1px solid #e5e5e5;
            }

            .blog-header-logo {
                font-family: "Playfair Display", Georgia, "Times New Roman", serif;
                font-size: 2.25rem;
            }

            .blog-header-logo:hover {
                text-decoration: none;
            }

            {# https://web-camp.io/magazine/archives/96794 #}
            .box {
                position:relative;
                background:#f2f2f2; /*背景色の指定*/
                padding:10px;
            }
            .box:before {
                content:"";
                position:absolute;
                top:0;
                left:0;
                width:20px; /*左上カギカッコの横の長さ*/
                height:15px; /*左上カギカッコの縦の長さ*/
                border-left:#333333 1px solid; /*左上カギカッコの縦の色、太さ、線の種類*/
                border-top:#333333 1px solid; /*左上カギカッコの横の色、太さ、線の種類*/
            }
            .box:after {
                content:"";
                position:absolute;
                bottom:0;
                right:0;
                width:20px; /*右下カギカッコの横の長さ*/
                height:15px; /*右下カギカッコの縦の長さ*/
                border-right:#333333 1px solid; /*右下カギカッコの指定*/
                border-bottom:#333333 1px solid; /*左上カギカッコの指定*/
            }
            .box p {
                margin:0;
                padding:0;
            }
            body {
                font-size: 0.8rem;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <header class="blog-header pt-5 pb-1 px-2">
                <div class="d-flex align-items-center flex-nowrap">
                    <div class="pb-2">
                        <a href="{{ path('app_diary') }}" style="text-decoration: none;">
                            <span class="blog-header-logo text-dark">Diary</span>
                        </a>
                    </div>
                    <div>　　　</div>
                    <a class="btn btn-sm" href="{{ path('app_unitary') }}">
                        一覧へ
                    </a>
                    <a class="btn btn-sm" href="{{ path('new_unitary') }}">
                        新しく書く
                    </a>
                    <a class="btn btn-sm" href="{{ path('new_unitary_with_compact') }}">
                        新しく書くW
                    </a>
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('show_upload_files') }}">
                        ファイル
                    </a>
                </div>
            </header>
            <div class="btn-bar mt-3 mb-3">
                <a class="btn btn-outline-info btn-sm" href="{{ path('app_unitary_date', { date: '-1week'}) }}">
                    １週間前
                </a>
                <a class="btn btn-outline-info btn-sm" href="{{ path('app_unitary_date', { date: '-2weeks'}) }}">
                    ２週間前
                </a>
                <a class="btn btn-outline-info btn-sm" href="{{ path('app_unitary_date', { date: '-1month'}) }}">
                    １ヶ月前
                </a>
                <a class="btn btn-outline-info btn-sm" href="{{ path('app_unitary_date', { date: '-2months'}) }}">
                    ２ヶ月前
                </a>
            </div>
            <div class="btn-bar mt-3 mb-3">
                {% for tag in tags %}
                    <a class="btn btn-outline-warning btn-sm" href="{{ path('app_unitary', { tagName: tag.name, mode: 'card' }) }}">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <main role="main">
                {% block body %}{% endblock %}
            </main>
        </div>
        <div class="">
            <main role="main2">
                {% block body_wide %}{% endblock %}
            </main>
        </div>
        <div class="container">
            <hr>
            <div class="btn-bar text-center mt-3 mb-3">
                <a class="btn btn-primary btn-sm" href="{{ path('app_unitary') }}">
                    一覧へ
                </a>
                <a class="btn btn-primary btn-sm" href="{{ path('app_unitary_compact') }}">
                    一覧へ（コンパクト版）
                </a>
                <a class="btn btn-primary btn-sm" href="{{ path('new_unitary') }}">
                    新しく書く
                </a>
                <a class="btn btn-outline-danger btn-sm" href="{{ path('show_upload_files') }}">
                    ファイル
                </a>
            </div>
        </div>
    </body>
</html>
